
@{
    ViewData["Title"] = "WebSite";
}

<img src="~/image/logo.jpg" style="position: absolute; left: 400px; top: 0px; z-index: -1;" />
<div style="position: absolute; left:680px; top: 580px;">
    <form asp-action="WebSite" enctype="multipart/form-data">
        <input type="text" name="url" style="width:600px;" />
        <input type="submit" />
    </form>
</div>
<div class="tile --NOVALUE--"  style="font-size:x-large;position: absolute; left:720px; top: 620px;">
    <strong>Fomenta e potencializa o exercício da advocacia.</strong>
</div>

